DB_HOST = 'YOUR_DB_HOST';
DB_PORT = YOUR_DB_PORT;
DB_NAME = 'YOUR_DB_NAME'; 
DB_USER = 'YOUR_DB_USER';    
DB_PASS = 'YOUR_DB_PASSWORD';        
ADMIN_PASSWORD = 'YOUR_ADMIN_PASSWORD';
MAIL_SERVICE_API_KEY = 'YOUR_MAIL_SERVICE_API_KEY';
MAIL_FROM_ADDRESS = 'YOUR_MAIL_FROM_ADDRESS';